.services {
  background-image: url(../Images/services\ bg.png);
  background-size: cover;
}
.shade {
  box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.5);
}
