/* .HomeBG {
  display: flex;
  flex-direction: row;
} */

.navbar {
  /* margin-top: 10px; */
  padding-top: 10px;
  /* align-self: stretch; */
  width: 95vw;
  padding: 39px 80px;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0px 5px #d7d7d7;
  /* margin-right: 10px; */
}
@media (max-width: 820px) {
  .column-2 {
    display: none;
  }
  /* .bookbtn {
    display: none;
  } */
  .div-4 .div-5 .div-6 .div-7 {
    display: none;
  }
}

@media (max-width: 991px) {
  .div {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-2 {
  gap: 10px;
  display: flex;
}
@media (max-width: 991px) {
  .div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 23%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.img {
  aspect-ratio: 2.22;
  object-fit: auto;
  object-position: center;
  width: 130px;
  max-width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img {
    margin-top: 40px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 59%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-3 {
  display: flex;
  /* justify-content: space-between; */
  gap: 3vw;
  align-self: stretch;
  font-size: 18px;
  color: #040404;
  font-weight: 700;
  white-space: nowrap;
  line-height: 75%;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
    white-space: initial;
    gap: 2vw;
  }
}
.div-4 {
  /* color: #2c6856; */
  font-family: Raleway, sans-serif;
  /* flex-grow: 1; */
}
.div-5 {
  font-family: Raleway, sans-serif;
}
.div-6 {
  font-family: Raleway, sans-serif;
}
.div-7 {
  font-family: Raleway, sans-serif;
}
.div-8 {
  font-family: Raleway, sans-serif;
}
.div-9 {
  font-family: Raleway, sans-serif;
  /* flex-grow: 1; */
}
@media (max-width: 991px) {
  .div-9 {
    white-space: initial;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 18%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-10 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
  font-size: 22px;
  color: var(--White, #fff);
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 100%;
  margin: auto 0;
  padding: 0 2px;
}
@media (max-width: 991px) {
  .div-10 {
    margin-top: 40px;
    white-space: initial;
  }
}
.search {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
  fill: #000;
  margin: auto 0;
  margin-right: 50px;
}
.bookbtn {
  font-family: Work Sans, sans-serif;
  font-size: 15px;
  border-radius: 15px;
  background-color: #2c6856;
  justify-content: center;
  padding: 15px 12px;
}

.quote-box {
  padding: 20px 20px;
  color: #fff;
  background-color: #6d776c;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -481px;
  left: 70px;
  width: 296px;
  z-index: 20;
  border-radius: 45px;
}
.quote-1 {
  font-size: 20px;
  font-weight: 500;
}
.quote-2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.quote-name {
  border-radius: 2px;
  align-items: center;
}
.quote-number {
  border-radius: 2px;
}
.clientlist {
  z-index: 100;
}
.midsec2 {
  border-radius: 20px;
  margin-bottom: 10vh;
}
.midsec2-content {
  max-width: 70vh;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 30px;
}
.midsec22 {
  background-image: url(../Images/services\ bg.png);
  background-size: cover;
}
.work2 {
  background-color: #4a8780;
  color: white;
  border-radius: 10px;
}

.midsec7-title {
  color: #1e443e;
}
.midse8-post2 {
  background-image: url("../Images/midsec8-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: contrast(60%); */
  /* filter: brightness(50%); */
  color: white;
}
